{% extends 'base.html' %}
{% block content %}
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'signup' %}"><button>Sign Up</button></a>
{% endblock %}