{%extends 'base.html'%}
{%block content%}
    {%if user.is_authenticated%}
        Hi, {{user.username}} <a href="{%url 'logout'%}">(logout).</a>
    {%else%}
        <p>You are not logged in<a href="{%url 'login'%}">(login).</a></p>
    {%endif%}
{%endblock%}